<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Latihan AnimeJS</title>
    <style>
        .bola {
            width: 50px;
            height: 50px;
            background-color: #ff4757;
            border-radius: 50%;
            margin-top: 50px;
        }
    </style>
</head>
<body>

    <h1>AnimeJS via Express Middleware</h1>
    <button id="playBtn">Tendang Bola!</button>
    <div class="bola"></div>

    <script src="/js/anime.umd.min.js"></script>

    <script>
        // Langsung gass ngoding animasinya
        const {anime} = anime;
    </script>
</body>
</html>